*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --orange: hsl(25, 97%, 53%);

/* ### Neutral */

--white: hsl(0, 0%, 100%);
--light-grey: hsl(217, 12%, 63%);
--medium-grey: hsl(216, 12%, 54%);
--dark-blue: hsl(213, 19%, 14%);
--light-dark-blue: hsl(213deg 19% 22% / 60%);
--very-dark-blue: hsl(216, 12%, 8%);
}
body {
  font-family: 'Overpass', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--very-dark-blue);
}

.rating-state {
  width: 400px;
  background-color: var(--dark-blue);
  background: linear-gradient(var(--dark-blue), var(--dark-blue));
  padding: 20px;
  border-radius: 25px;
}
.rating-state img {
  width: 45px;
  margin: 15px 0;
  background-color: var(--light-dark-blue);
  border-radius: 50%;
  padding: 12px;
}
.rating-state h1 {
  color: var(--white);
  margin: 10px 0;
  font-size: 30px;
  font-weight: normal;
}
.rating-state p {
  font-size: 15px;
  line-height: 1.6;
  color: var(--medium-grey);
  margin:15px 0;
}
.rating-state .rating {
  display: flex;
  justify-content: space-around;
  margin: 25px 0;
}
.rating-state .rating span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: var(--medium-grey);
  background-color: var(--light-dark-blue);
  border-radius: 50%;
  cursor: pointer;
  transition: .4s;
}

.rating-state .rating span:hover {
  background-color: var(--orange);
  color: var(--white)
}
.rating-state button {
  width: 100%;
  padding: 10px 15px;
  margin: 5px 0;
  background-color: var(--orange);
  border: none;
  border-radius: 30px;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: .4s;
}
.rating-state button:hover {
  background-color: hsl(13deg 97% 53%);;
}
.active {
  transform: scale(1.2);
  color: var(--white) !important;
  background-color: var(--medium-grey)!important;
}

/* Start thank-state */
.thank-state {
  width: 400px;
  background-color: var(--dark-blue);
  background: linear-gradient(var(--dark-blue), var(--dark-blue));
  padding: 80px 20px;
  border-radius: 25px;
  text-align: center;
  color: var(--white);
  display: none;
}
.thank-state img {
  width: 100px;
  margin-bottom: 20px;
}
.thank-state .rate {
  width:fit-content;
  padding: 7px 10px;
  font-size: 14px;
  background-color: var(--light-dark-blue);
  border-radius: 25px;
  margin: 0 auto 10px;
  color: var(--orange)

}
.thank-state h2 {
  font-size: 25px;
  margin: 25px 0 0;
}
.thank-state p {
  font-size: 15px;
  margin-top: 15px;
  color: var(--medium-grey);
}